<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CalcLossN.Properties.Settings.GESConnectionString"
            connectionString="Data Source=ULGES-SQL2;Initial Catalog=GES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>