<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GRP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GRP.Properties.Settings.SQLASU" connectionString="uid=sa;pwd=skuee2009admin;Initial Catalog=Org;Data Source=sale-sql" />
        <add name="GRP.Properties.Settings.sqlGamma" connectionString="uid=sa;pwd=skuee2009admin;Initial Catalog=Org;Data Source=sale-sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <GRP.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </GRP.Properties.Settings>
    </userSettings>
</configuration>